        body {
            background-color: rgb(245, 191, 228);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .heading {
            background-color: rgb(245, 222, 237);
            padding: 15px;
            color: rgb(46, 31, 44);
        }

        .timer-label {
            color: rgb(79, 3, 70);
            margin-top: 20px;
        }

        .instructions {
            color: rgb(120, 0, 100);
            margin: 10px 0;
            opacity: 0.65;
            font-family:Georgia, 'Times New Roman', Times, serif ;
        }

        .time-display {
            font-size: 80px;
            margin: 20px 0;
            color: rgb(79, 3, 70);
        }

        button {
            color: white;
            background-color: rgb(255, 0, 132);
            border: none;
            margin: 10px;
            padding: 12px 25px;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.85;
        }